* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: Impact, Charcoal, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.app {
  width: 30%;
  margin: 0 auto;
  padding: 10px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
}

li {
  position: relative;
  padding: 10px;
  border: 1px solid #d9d9d9;
  transition: all .3s;
}

li:nth-of-type(even) {
  border-top: none;
  border-bottom: none;
}

li:last-of-type {
  border: 1px solid #d9d9d9;
  border-top: none;
}

button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
}